dashscope==1.14.1
langchain_community==0.3.15
networkx==2.6.3
numpy==1.24.4
Requests==2.32.3
scikit_learn==1.4.2
sentence_transformers==2.7.0
torch==2.2.0a0+81ea7a4
tqdm==4.66.1
transformers==4.38.1
ujson==5.10.0
